In [4]:
#Tuple Based Practice Problem

In [ ]:
#Q1

In [52]:
tu = (1,2,3,4,5)

In [53]:
tu

(1, 2, 3, 4, 5)

In [54]:
type(tu)

tuple

In [55]:
#Q2 
third = tu[2]

In [62]:
print("The third element of the tuple is:", third)

The third element of the tuple is: 3

In [63]:
count = 0   #Q3

In [65]:
for _ in tu:
    count+=1

In [66]:
print("The length of the tuple is:", count)

The length of the tuple is: 5

In [40]:
Tuple = (1,2,4,5,6,5,8,5,6,9)   #q4

In [41]:
Tuple

(1, 2, 4, 5, 6, 5, 8, 5, 6, 9)

In [42]:
ele = 5

count = 0

In [43]:
for rep in Tuple:
    if rep == ele:
        count += 1

In [44]:
print(f"The element {ele} appears {count} times in the tuple.")

The element 5 appears 3 times in the tuple.

In [45]:
#qc5

In [46]:
index = 0

In [47]:
index = Tuple.index(4)

In [48]:
print("Index of 4 is: ",index)

Index of 4 is:  2

In [66]:
pre = 5                                      #q6

if pre in Tuple:
    print(" Element present ")
else: 
    print(" Element Not presesnt ")

 Element present

In [1]:
#q7

In [16]:
tup = (1,2,3,4,5)

In [17]:
tup

(1, 2, 3, 4, 5)

In [18]:
type(tup)

tuple

In [19]:
list1 = [tup]

In [20]:
print("Tuple:", tup)
print("List:", list1)

Tuple: (1, 2, 3, 4, 5)
List: [(1, 2, 3, 4, 5)]

In [21]:
#qus8

In [35]:
Tup1 = tuple(list1)

In [36]:
print("Tuple:", Tup1)

Tuple: ((1, 2, 3, 4, 5),)

In [37]:
#ques 9

In [1]:
Tup = (20,30,40,50)

In [3]:
v1,v2,v3,v4 = Tup

In [7]:
print("Var 1=",v1)
print("Var 2=",v2)
print("Var 3=",v3)
print("Var 4=",v4)

Var 1= 20
Var 2= 30
Var 3= 40
Var 4= 50

In [9]:
#ques 10

In [84]:
Even = [x*1 for x in range(1, 11) if x%2==0]

In [85]:
print("Even Numbers =", Even)

Even Numbers = [2, 4, 6, 8, 10]

In [88]:
 Odd = [x for x in range(10) if x%2!=0]
#ques11

In [89]:
print("Odd Numbers =", Odd)

Odd Numbers = [1, 3, 5, 7, 9]

In [1]:
tup1 = (1,2,3)
#ques12

In [2]:
tup2 = (4,5,6)

In [3]:
conc = tup1 + tup2

In [4]:
print("Concatenated tuple:", conc)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [5]:
#ques13

In [6]:
tu1 =(1,2,3)

In [7]:
Repeat = tu1 * 3

In [8]:
print("Repeated tuple:", Repeat)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [1]:
#ques14

In [29]:
A = (1,2,3)
B = ()

In [30]:
if not B:
   print("B is empty")
else:
   print("B is not empty")
if not A:
   print("A is empty")
else:
   print("A is not empty")

B is empty
A is not empty

In [12]:
#QUES15

In [13]:
nested = ((1, 2, 3), ('a', 'b', 'c'))

In [14]:
print("Nested tuple:", nested)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'))

In [15]:
#QUES16

In [17]:
W = nested[0]

In [18]:
print("First element of the nested tuple:", W)

First element of the nested tuple: (1, 2, 3)

In [31]:
#QUES17

In [32]:
single = (42)

In [33]:
print("Single element tuple:", single)

Single element tuple: 42

In [1]:
#QUES18

In [5]:
tup1 = (1, 2, 3)
tup2 = (1, 2, 4)

In [6]:
print("tuple1 == tuple2:", tup1 == tup2)  
print("tuple1 != tuple2:", tup1 != tup2)  
print("tuple1 < tuple2:", tup1 < tup2)    
print("tuple1 <= tuple2:", tup1 <= tup2)  
print("tuple1 > tuple2:", tup1 > tup2)    
print("tuple1 >= tuple2:", tup1 >= tup2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [7]:
#QUES19

In [11]:
tup1 = (1, 2, 3)

In [12]:
tup1

(1, 2, 3)

In [13]:
del(tup1)

In [16]:
tup1

NameError: name 'tup1' is not defined

In [17]:
#name 'tup1' is not defined

In [18]:
#QUES20

In [19]:
tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
slice = tuple[4:8]

In [21]:
print("Sliced tuple:", slice)

Sliced tuple: (5, 6, 7, 8)

In [22]:
#QUES21

In [1]:
Tuple = (3,5,7,9)

In [2]:
Max = max(Tuple)

In [6]:
print("Maximum Number=",Max)

Maximum Number= 9

In [8]:
#QUES22

In [9]:
Min = min(Tuple)

In [10]:
print("Minimum Number=",Min)

Minimum Number= 3

In [11]:
#QUES23

In [13]:
string = "My Name is Satyam"

In [17]:
Tup = tuple(string)

In [18]:
print("String to a tuple of characters:",Tup)

String to a tuple of characters: ('M', 'y', ' ', 'N', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'S', 'a', 't', 'y', 'a', 'm')

In [19]:
#QUES24

In [20]:
Tup =

('M',
 'y',
 ' ',
 'N',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'S',
 'a',
 't',
 'y',
 'a',
 'm')

In [24]:
String = "".join(Tup)

In [25]:
print("Tuple of characters to a String:",String)

Tuple of characters to a String: My Name is Satyam

In [26]:
#QUES25

In [27]:
Mixed = (1, "satyam", True, 7.7)

In [28]:
print("Tuple from multiple data types:",Mixed)

Tuple from multiple data types: (1, 'satyam', True, 7.7)

In [30]:
#QUES26

In [31]:
tuple1 = (8, 9, 3)
tuple2 = (8, 9, 3)
tuple3 = (9, 9, 6)

In [35]:
if (tuple1==tuple2):
    print("Tuple1 and tuple2 are identical")
else:
    print("Tuple1 and tuple2 are non identical")
if (tuple2==tuple3):
    print("Tuple2 and tuple3 are identical")
else:
    print("Tuple2 and tuple3 are non identical")
if (tuple1==tuple3):
    print("Tuple1 and tuple3 are identical")
else:
    print("Tuple1 and tuple3 are non identical")

Tuple1 and tuple2 are identical
Tuple2 and tuple3 are non identical
Tuple1 and tuple3 are non identical

In [36]:
#QUES27

In [38]:
Tup = (3,7,2,1,9)

In [39]:
sort = sorted(Tup)

In [40]:
print("Sorted Numbers=", sort)

Sorted Numbers= [1, 2, 3, 7, 9]

In [46]:
#QUES28

In [47]:
Tup = (3,7,2,1,9)

In [50]:
strtup =  tuple(str(alls) for alls in Tup)

In [60]:
print("Tuple of strings:",strtup)

Tuple of strings: ('3', '7', '2', '1', '9')

In [62]:
#Convert a tuple of strings to a tuple of integers.

In [2]:
strtup = ('3', '7', '2', '1', '9')

In [4]:
Inte = tuple(int(tup) for tup in strtup)

In [5]:
print("Tuple of integers:",Inte)

Tuple of integers: (3, 7, 2, 1, 9)

In [6]:
#Merge two tuples

In [7]:
tuple1 = (8, 9, 3)
tuple2 = (8, 9, 3)

In [8]:
Mer = tuple1 + tuple2

In [9]:
print("Merge of tuples:",Mer)

Merge of tuples: (8, 9, 3, 8, 9, 3)

In [10]:
#31. Flatten a nested tuple.

In [21]:
def flatten(nested):
    flattened = []
    for item in nested:
        if isinstance(item, tuple):
            flattened.extend(flatten(item))
        else:
            flattened.append(item)
    return flattened

In [22]:
nested = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))

In [23]:
flattened = tuple(flatten(nested))

In [24]:
print("Flattened tuple:", flattened)

Flattened tuple: (4, 5, 4, 7, 8, 9, 10, 11, 9, 10, 3, 4)

In [25]:
#32. Create a tuple of the first 5 prime numbers.

In [26]:
def prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [27]:
primelist = [num for num in range(2, 100) if prime(num)][:5]

In [28]:
primetuple = tuple(primelist)

In [29]:
print("Tuple of the first 5 prime numbers:", primetuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [38]:
#33. Check if a tuple is a palindrome.

In [14]:
tup = (1,3,1)

In [15]:
if (tup == tup[::-1]):
    print ("The Tuple is a palindrome")
else: 
    print ("The Tuple is not a palindrome")

The Tuple is a palindrome

In [1]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [5]:
st = tuple(x ** 2 for x in range(1,6))

In [6]:
print("Tuple of squares:", st)

tuple of squares: (1, 4, 9, 16, 25)

In [7]:
#35. Filter out all even numbers from a tuple.

In [1]:
tu = (1,4,3,6,8,9)

In [4]:
Even = tuple(n for n in tu if n%2==0)

print("Even Numbers:",Even)

Even Numbers: (4, 6, 8)

In [2]:
tu = (1,4,3,6,8,9)

In [6]:
Multi = tuple(n*2 for n in tu)

In [8]:
print("Multi Numbers:",Multi)

Multi Numbers: (2, 8, 6, 12, 16, 18)

In [1]:
#37. Create a tuple of random numbers.

In [2]:
import random

In [7]:
randomtu = tuple(random.randint(1,100) for _ in range(10))

In [8]:
print("Random Numbers:",randomtu)

Random Numbers: (53, 4, 55, 52, 97, 46, 20, 83, 56, 90)

In [10]:
#38 Check if a tuple is sorted.

In [30]:
def isorted(t):
    if tuple(sorted(t)) == t:
        return 'ascending'
    if tuple(sorted(t, reverse=True)) == t:
        return 'descending'
    return 'out-of-order'

In [31]:
sortedd = (9, 10, 11, 12, 13)
unsorted = (6, 5, 4
            , 3, 2)
outoforder = (4,7,2,8,9,34)

In [32]:
is_sorted1 = isorted(sortedd)
is_sorted2 = isorted(unsorted)
is_sorted3 = isorted(outoforder)

In [33]:

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)
print("unsorted_tuple is sorted:", is_sorted3)

sorted_tuple is sorted: ascending
unsorted_tuple is sorted: descending
unsorted_tuple is sorted: out-of-order

In [12]:
#39. Rotate a tuple to the left by `n` positions.

In [34]:
def rotateleft(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

In [35]:
my_tuple = (1, 2, 3, 4, 5)
n_positions = 3
result = rotateleft(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [36]:
#40. Rotate a tuple to the right by `n` positions.

In [37]:
def rotateright(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

In [38]:
my_tuple = (1, 2, 3, 4, 5)
n_positions = 1
result = rotateright(my_tuple, n_positions)
print(result)

(5, 1, 2, 3, 4)

In [39]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [24]:
def make_fibonacci(n):
    fib = [0,1]
    while len(fib) < n:
        next = fib[-1] + fib[-2]
        fib.append(next)
    return tuple(fib)

In [26]:
fibonacci_tuple = make_fibonacci(5)

In [27]:
print("Fibonacci Tuple:",fibonacci_tuple )

Fibonacci Tuple: (0, 1, 1, 2, 3)

In [28]:
#42. Create a tuple from user input.

In [5]:
input_str = input("Enter elements separated by commas: ")
Con = input_str.split(',')
tup = tuple(Con)
print("User input tuple:", tup)

Enter elements separated by commas:  s,a,t,y,a,m

User input tuple: ('s', 'a', 't', 'y', 'a', 'm')

In [6]:
#43. Swap two elements in a tuple.

In [14]:
Tup = (1,7,9,4,5)

In [15]:
num1 = 2
num2 = 3
swapped_tuple = tuple(
   Tup[i] if i not in (num1, num2) 
        else
          Tup[num2] if i == num1 
        else
         Tup[num1]
    for i in range(len(Tup))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 7, 4, 9, 5)

In [ ]:
#44. Reverse the elements of a tuple.

In [16]:
tup = (5,3,7,2,7)

In [17]:
reversedtup = tup[::-1]
print("Reversed tuple:", reversedtup)

Reversed tuple: (7, 2, 7, 3, 5)

In [18]:
#45Create a tuple of the first `n` powers of 2

In [19]:
Num = 5

In [21]:
Power = tuple(2 ** i for i in range(Num))

In [22]:
print("Tuple of the first", Num , "powers of 2:", Power)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [23]:
#46. Find the longest string in a tuple of strings.

In [28]:
def maxi(m):
    return max(m, key=len)

In [31]:
print(maxi(["ale","razs"]))
print(maxi(["ales","razssd","etyfag"]))

razs
razssd

In [32]:
#47. Find the shortest string in a tuple of strings.

In [1]:
def mini(m):
    return min(m, key=len)

In [2]:
print(mini(["ale","razs"]))
print(mini(["ales","razssd","etyfag"]))

ale
ales

In [3]:
#48. Create a tuple of the first `n` triangular numbers.

In [1]:
Num = 5

In [3]:
triangular  = tuple((i * (i + 1)) // 2 for i in range(1, Num + 1))
print("Tuple of the first", Num, "triangular numbers:", triangular)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [4]:
#49. Check if a tuple contains another tuple as a subsequence.

In [4]:
def subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

In [2]:
main_tuple = (7, 9, 0, 4, 5, 8, 7, 3, 9)
sub_tuple = (4, 5)
contains = subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains)

Main tuple contains subsequence tuple: True

In [10]:
def ssub(main,sub):
 sub1 = len(sub)
 for i in range (len(main)- sub1 + 1):
        if main[i:i+sub] == sub:
            return True
 return False

In [11]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [32]:
n = 20

In [33]:
alternating = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [1]:
#Set Based Practice Problem :

In [2]:
#1. Create a set with integers from 1 to 5.

In [7]:
my_set = set(range(1,6))
print(my_set)

{1, 2, 3, 4, 5}

In [11]:
my_set = set(range(1,6))        
addition = 8       #2. Add an element to a set.
my_set.add(addition)

In [12]:
print(my_set)

{1, 2, 3, 4, 5, 8}

In [13]:
#3. Remove an element from a set.

In [15]:
my_set = set(range(1,6))
deletion = 5
my_set.remove(deletion)

In [16]:
print(my_set)

{1, 2, 3, 4}

In [17]:
#4. Check if an element exists in a set.

In [18]:
my_set = set(range(1,6))

In [41]:
my_set

{1, 2, 3, 4, 5}

In [45]:
check = int(input("Enter the element to check: "))

Enter the element to check:  4

In [46]:
if check in my_set:
    print(f"{check} Element present in Set")
else :
    print(f"{check} Element not present in Set")

4 Element present in Set

In [47]:
#5. Find the length of a set without using the `len()` function.

In [73]:
myset = {1,2,3,4,5}

In [74]:
count = 0

In [75]:
for _ in myset:
    count = count +1

In [76]:
print(f"Length of the set:", count)

Length of the set: 5

In [77]:
#6. Clear all elements from a set.

In [82]:
myset = {1,2,3,4,5}

In [83]:
myset

{1, 2, 3, 4, 5}

In [84]:
myset.clear()

In [85]:
print("Set after clearing:", myset)

Set after clearing: set()

In [86]:
#7. Create a set of even numbers from 1 to 10.

In [1]:
even = set()

In [8]:
for no in range(1,11):
    if no%2==0:
     even.add(no)

In [9]:
    print(even)

{2, 4, 6, 8, 10}

In [1]:
#8. Create a set of odd numbers from 1 to 10.

In [4]:
odd = set()
for num in range(1,11):
    if num%2!=0:
     odd.add(num)

In [5]:
    print(odd)

{1, 3, 5, 7, 9}

In [6]:
#9. Find the union of two sets.

In [12]:
set1 ={1, 2, 3, 4, 5}
set2 ={6, 7, 8, 9, 10}

In [13]:
union = set1.union(set2)

In [14]:
print(union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
#10. Find the intersection of two sets.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [20]:
intersectionsum = set1.intersection(set2)

In [23]:
print(intersectionsum)

{3, 4, 5}

In [24]:
#11. Find the difference between two sets.#

In [25]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

In [26]:
different = set1.difference(set2)

In [27]:
print(different)

{1, 2}

In [28]:
#12. Check if a set is a subset of another set.

In [36]:
set1 =  {4, 5}
set2 = {1, 2, 3, 4, 5}

In [37]:
subset = set1.issubset(set2)

In [38]:
print(subset)

True

In [39]:
#13. Check if a set is a superset of another set.

In [42]:
set1 = {1, 2, 3, 4}
set2 = {3, 4}

In [43]:
superset = set1.issuperset(set2)

In [44]:
if superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [5]:
#14Create a set from a list

In [6]:
mylist = [2, 4, 1, 4, 3, 2, 5]

In [7]:
myset = set(mylist)

In [8]:
myset

{1, 2, 3, 4, 5}

In [9]:
#15. Convert a set to a list.

In [10]:
myset = {3, 1, 4, 1, 5, 9, 2, 6, 5}

In [13]:
mylist = list(myset)

In [14]:
mylist

[1, 2, 3, 4, 5, 6, 9]

In [15]:
#16. Remove a random element from a set.

In [36]:
import random 
myset = {1, 2, 3, 4, 5}

In [37]:
random_element = random.choice(list(myset))
myset.remove(random_element)

In [38]:
print("Updated set after removing", random_element, ":", myset)

Updated set after removing 5 : {1, 2, 3, 4}

In [3]:
#17. Pop an element from a set.

In [52]:
mySet = {1, 2, 3, 4, 5, 6}
print("The input set is:", mySet)

The input set is: {1, 2, 3, 4, 5, 6}

In [53]:
popped = mySet.pop()
print("The output set is:", mySet)
print("Popped item is:", popped)

The output set is: {2, 3, 4, 5, 6}
Popped item is: 1

In [39]:
#18. Check if two sets have no elements in common.

In [45]:
set1 = {1, 2, 3, 4}
set2 = {4, 6, 7, 8}

In [46]:
common = set1.intersection(set2)

In [47]:
if not common:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common)

The two sets have common elements: {4}

In [1]:
#19. Find the symmetric difference between two sets.

In [1]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [2]:
symmetric = set1 ^ set2

In [3]:
print("Symmetric Difference:", symmetric)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [4]:
#20. Update a set with elements from another set.

In [5]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [6]:
set1.update(set2)

In [7]:
print("Update a set with elements from another set:", set1)

Update a set with elements from another set: {1, 2, 3, 4, 5}

In [8]:
#21. Create a set of the first 5 prime numbers.

In [9]:
def isprime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [ ]:
prime_set = set()
num = 2
while len(prime_set) < 5:
      if isprime(num):
        prime_set.add(num)
        num += 1

In [ ]:
print("Set of the first 5 prime numbers:", prime_set)

In [1]:
#22. Check if two sets are identical.

In [2]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}

In [3]:
if set1 == set2:
     print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [23]:
#23. Create a frozen set.

In [24]:
sets = [1, 2, 3, 4, 5]

In [28]:
frozen = frozenset(sets)

In [29]:
print("Frozen Set:", frozen )

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [10]:
#24. Check if a set is disjoint with another set.

In [11]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

In [12]:
disjoint = set1.isdisjoint(set2)

In [13]:
print("Are the sets disjoint?", disjoint)

Are the sets disjoint? True

In [14]:
#25. Create a set of squares of numbers from 1 to 5.

In [23]:
squareset = set()

In [29]:
for num in range(1, 6):
    square = num ** 2
    
    squareset.add(square)

In [30]:
print(squareset)

{1, 4, 9, 16, 25}

In [31]:
#26. Filter out all even numbers from a set.

In [32]:
myset = {2,4,6,8,9,7,4}

In [33]:
evennum = set()

In [38]:
for num in myset:
    if num%2==0:
        evennum.add(num)

In [39]:
print("Original Set:", myset)
print("Even Numbers Set:", evennum)

Original Set: {2, 4, 6, 7, 8, 9}
Even Numbers Set: {8, 2, 4, 6}

In [40]:
#27. Multiply all elements in a set by 2.

In [45]:
myset = {2,4,6,8,9}

In [46]:
multiplied = set()
for num in myset:
    multipliednum = num * 2
    multiplied.add(multipliednum)

In [47]:
print("Multiplied Set:", multiplied)

Multiplied Set: {4, 8, 12, 16, 18}

In [1]:
#28. Create a set of random numbers.

In [6]:
import random
random_number_set = set()
for _ in range(5):
    random_num = random.randint(1, 100)
    random_number_set.add(random_num)

In [7]:
print("Generated set of five random numbers:", random_number_set)

Generated set of five random numbers: {64, 14, 47, 51, 59}

In [1]:
#29. Check if a set is empty.

In [2]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [14]:
#30. Create a nested set (hint: use frozenset).

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

In [16]:
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

In [21]:
nested_set = {frozen_set1, frozen_set2}

In [22]:
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [30]:
#31. Remove an element from a set using the discard method.

In [31]:
my_set = {1, 2, 3, 4, 5}

In [32]:
remove = 3
my_set.discard(remove)
print("Set after removing", remove, ":", my_set)

Set after removing 3 : {1, 2, 4, 5}

In [33]:
#32. Compare two sets.

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [36]:
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
union = set1.union(set2)
intersection = set1.intersection(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

In [37]:
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [38]:
#33. Create a set from a string.

In [70]:
input_string = ("satyam")

In [71]:
convert = set(input_string)

In [72]:
print(convert)

{'y', 'a', 'm', 's', 't'}

In [48]:
#34. Convert a set of strings to a set of integers.

In [63]:
string_set = {"365", "234", "679"}

In [65]:
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)

In [66]:
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'365', '679', '234'}
Converted Integer Set: {234, 365, 679}

In [73]:
#35. Convert a set of integers to a set of strings.

In [74]:
integers_set = {1, 2, 3, 4, 5}

In [76]:
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)

In [77]:
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '4', '1', '3', '5'}

In [78]:
#36. Create a set from a tuple.

In [85]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)

In [90]:
output_set = set(input_tuple)

In [91]:
print(output_set)

{1, 2, 3, 4, 5}

In [ ]:
#37. Convert a set to a tuple.

In [92]:
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)

In [93]:
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [94]:
#38. Find the maximum value in a set.

In [5]:
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
MAX = max(sets)
print("Maximum Numbers:", MAX)

Maximum Numbers: 65

In [6]:
#39. Find the minimum value in a set.

In [2]:
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
MIN = min(sets)
print("Minimum Numbers:", MIN)

Minimum Numbers: 1

In [3]:
#40. Create a set from user input.

In [5]:
Sets = input("Enter Elements for set seperated by coma")

Enter Elements for set seperated by coma SATYAM,SINHA,RAJ,LAXMI

In [6]:
 str_set = {Sets}
 print(str_set)

{'SATYAM,SINHA,RAJ,LAXMI'}

In [7]:
type(str_set)

set

In [8]:
#41. Check if the intersection of two sets is empty.

In [34]:
set1 = {1, 2, 3, 4, 6}
set2 = {6, 7, 8, 9, 10}

In [35]:
intersections = set1.intersection(set2)

In [36]:
if not intersections:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [37]:
#42. Create a set of the first 5 Fibonacci numbers.

In [1]:
fibonacci_set = set()

a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [2]:
#43. Remove duplicates from a list using sets.

In [20]:
original = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique = set(original)
unique_list = list(unique)

print("Original List:", original)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [4]:
#44.Check if two sets have the same elements, regardless of their count.

In [31]:
l1 = [10, 20, 30, 40, 50] 
l2 = [20, 30, 50, 40, 70] 
l3 = [50, 10, 30, 20, 40] 

l1.sort() 
l2.sort() 
l3.sort() 

if l1 == l2: 
    print ("The lists l1 and l2 are the same") 
else: 
    print ("The lists l1 and l2 are not the same") 

if l1 == l3: 
    print ("The lists l1 and l3 are the same") 
else: 
    print ("The lists l1 and l3 are not the same") 
if l2 == l3: 
    print ("The lists l1 and l3 are the same") 
else: 
    print ("The lists l1 and l3 are not the same")

The lists l1 and l2 are not the same
The lists l1 and l3 are the same
The lists l1 and l3 are not the same

In [6]:
#45. Create a set of the first n powers of 2

In [33]:
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2

In [36]:
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [9]:
#46. Find the common elements between a set and a list.

In [38]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

In [9]:
g = my_set.intersection(list_to_set)
p = list(g)
print("Common Elements:", p)

Common Elements: [9, 12, 7]

In [12]:
#47. Create a set of the first n triangular numbers.

In [12]:
def generate_triangular_numbers(n):
    triangular_numbers = set() 
    for i in range(1, n + 1):
        triangular_number = i*(i + 1)//2  
        triangular_numbers.add(triangular_number)
    return triangular_numbers

n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  9

The set of the first 9 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 28}

In [14]:
#48. Check if a set contains another set as a subset.

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

subset = set2.issubset(set1)

if subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [16]:
#49. Create a set of alternating 1s and 0s of length n

In [8]:
def create(n):
    alternating_set = set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  
    return alternating_set

In [9]:
f = 20
result = create(f)
print(result)

{0, 1}

In [18]:
#50. Merge multiple sets into one.

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged = set1.union(set2, set3)
print("Merged Set:", merged)

Merged Set: {1, 2, 3, 4, 5, 6, 7}

In [1]:
#TOPIC: String Based Assignment Problem

In [ ]:
#1. Write a program to reverse a string.

In [11]:
def reverse(string):
    string = string[::-1]
    return string
 
s = "iamgoodboy"
 
print("The original string is : ",s)
 
print("The reversed string is : ",reverse(s))

The original string is :  iamgoodboy
The reversed string is :  yobdoogmai

In [8]:
#2 Check if a string is a palindrome.

In [18]:
def palindrome(s):
    s = s.upper()
    s = ''.join(e for e in s if e.isalnum())
    return s == s[::-1]

In [19]:
print(palindrome("Demomed"))
print(palindrome("help"))
print(palindrome("A man, a plan, a canal, Panama"))

True
False
True

In [8]:
#3. Convert a string to uppercase.

In [ ]:
input_string = input("Enter a string: ")
uppercase = input_string.upper()
print("Uppercase string:", uppercase)

Enter a string:  sarya

Uppercase string: SARYA

In [10]:
#4. Convert a string to lowercase.

In [21]:
input_string = input("Enter a string: ")
lowercase = input_string.lower()
print("Lowercase string:", lowercase)

Enter a string:  SATY

Lowercase string: saty

In [12]:
#5Count the number of vowels in a string.

In [40]:
def count_vowels(string):
    count = 0
    string = string.lower()
    vowels = set("aeiou")
    for char in string:
        if char in vowels:
            count += 1
    return count

In [41]:
input_string = "I am good boy"
result = count_vowels(input_string)
print("Number of vowels:", result)

Number of vowels: 5

In [42]:
print(count_vowels("Demomed"))
print(count_vowels("help"))
print(count_vowels("A man, a plan, a canal, Panama"))

3
1
10

In [43]:
#6. Count the number of consonants in a string.

In [8]:
def count_consonants(string):
    consonant = 0
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    for char in string:
        if char in consonants:
            consonant += 1
    return consonant
input_string = input("Enter a string: ")
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  EGSNB HRRW

Number of consonants: 8

In [9]:
#7. Remove all whitespaces from a string.

In [3]:
def remove_whitespace(input_string):
    result = ""
    for char in input_string:
        if char != " ":
            result += char
    return result
input_string = "i am goood boy"
output_string = remove_whitespace(input_string)
print(output_string)

iamgooodboy

In [17]:
#8. Find the length of a string without using the `len()` function.

In [5]:
input_string = input("Enter the string")
count = 0
for char in input_string:
    count += 1
print("The length of the string is:", count)

Enter the string i am good boy

The length of the string is: 13

In [ ]:
#9. Check if a string contains a specific word.

In [8]:
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")

if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string:  satyam
Enter the specific word to check for:  at

The string contains the word 'at'.

In [9]:
#10. Replace a word in a string with another word.

In [14]:
input_string = input("Enter a sentence: ")

old = input("Enter the word to be replaced: ")
new = input("Enter the new word: ")

modified = input_string.replace(old, new)
print("Modified string:", modified)

Enter a sentence:  I BAD BOY
Enter the word to be replaced:  bad
Enter the new word:  good

Modified string: I BAD BOY

In [ ]:
#11. Count the occurrences of a word in a string.

In [6]:
def countOccurrences(str, word):
 
    wordslist = str.split()
    return wordslist.count(word)

In [8]:
str = "i am very very good boy"
word = "very"
print(countOccurrences(str, word))

2

In [9]:
#12. Find the first occurrence of a word in a string.

In [25]:
def find_first_occurrence(text, word):
    index = text.find(word)
    if index == -1:
        return None  
    return index

In [27]:
text = "i am very very good boy"
word = "very"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 5

In [29]:
#13. Find the last occurrence of a word in a string.

In [31]:
def find_last_occurrence(text, word):
    index = text.rfind(word)
    if index == -1:
        return None 
    return index
text = "i am very very good boy"
word = "very"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 10

In [32]:
#14. Split a string into a list of words.

In [1]:
def intowords(text):
    words = text.split()
    return words

In [2]:
text = "i am very very good boy"
words = intowords(text)
print("List of words:", words)

List of words: ['i', 'am', 'very', 'very', 'good', 'boy']

In [3]:
#15. Join a list of words into a string.

In [5]:
def join_words(words):
    joined = ' '.join(words)
    return joined
words = ["This", "is", "an", "example", "of", "words."]
text = join_words(words)
print("Joined string:", text)

Joined string: This is an example of words.

In [7]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [8]:
def convert(text):
    underscore = text.replace(" ", "_")
    return underscore

text = "i am very very good boy."
converted_text = convert(text)
print("Converted text:", converted_text)

Converted text: i_am_very_very_good_boy.

In [9]:
#17. Check if a string starts with a specific word or phrase.

In [13]:
def starts(text, phrase):
    start = text.startswith(phrase)
    return start

In [17]:
text = "Hey Sir"
phrase = "Hey"
result = starts(text, phrase)
if result:
    print("The text starts with the phrase.")
else:
    print("The text does not start with the phrase.")

The text starts with the phrase.

In [18]:
#18. Check if a string ends with a specific word or phrase.

In [1]:
def ends(text, phrase):
    end = text.endswith(phrase)
    return end

In [5]:
text = "Hey Sir"
phrase = "Sir"
result = ends(text, phrase)
if result:
    print("The text ends with the phrase.")
else:
    print("The text does not ends with the phrase.")

The text ends with the phrase.

In [6]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [10]:
def titlecase(text):
    titlecases = text.title()
    return titlecases

In [11]:
text = "hey sir"
title_case = titlecase(text)
print("Title case:", title_case)

Title case: Hey Sir

In [12]:
#20. Find the longest word in a string.

In [13]:
def longestword(s):
     
    s=s.split()
    print("longestword in a sentence is",max(s,key=len))

In [14]:
s = "Be confident and be yourself"
longestword(s)

longestword in a sentence is confident

In [1]:
#21. Find the shortest word in a string.

In [5]:
def shortestword(s):
     
    s=s.split()
    print("longestword in a sentence is",min(s,key=len))

In [8]:
s = " Be confident and keep yourself"
shortestword(s)

longestword in a sentence is Be

In [9]:
#22. Reverse the order of words in a string.

In [10]:
def rev_sentence(sentence): 
 
    words = sentence.split(' ') 
    reverse_sentence = ' '.join(reversed(words)) 
    return reverse_sentence

In [11]:
input = 'i am good boy'
print (rev_sentence(input))

boy good am i

In [12]:
#23. Check if a string is alphanumeric.

In [13]:
def is_alphanumeric(text):
    return text.isalnum()

text = "Hii123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [14]:
#24. Extract all digits from a string.

In [33]:
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
        
    return digits

In [34]:
text = "i12345good66boy54321"  
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456654321

In [26]:
print("Extracted digits:", extracted_digits)

Extracted digits: 1

In [18]:
#25. Extract all alphabets from a string.

In [35]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets

input_string = "i12345good66boy54321"
result = extract_alphabets(input_string)
print(result)

i g o o d b o y

In [36]:
#26. Count the number of uppercase letters in a string.

In [1]:
string=input("Enter string:")
count=0
for i in string:
      if(i.isupper()):
            count+=1
print("The number of Upeercase characters is:",count)

Enter string: SATYAAM

The number of Upeercase characters is: 7

In [41]:
#27. Count the number of lowercase letters in a string.

In [2]:
string=input("Enter string:")
count=0
for i in string:
      if(i.islower()):
            count+=1
print("The number of lowercase characters is:",count)

Enter string: satyam

The number of lowercase characters is: 6

In [ ]:
28. Swap the case of each character in a string.

In [4]:
def swapcase(swapp):
    swaping = swapp.swapcase()
    return swaping

In [7]:
swapp = "SATYAM sinha"
result = swapcase(swapp)
print("After swapping the case:", result)

After swapping the case: satyam SINHA

In [ ]:
#29. Remove a specific word from a string.

In [26]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  
    filtered_words = [word for word in words if word != word_to_remove] 
    modified_string = ' '.join(filtered_words)  
    return modified_string

# Example input string and word to remove
input_string = "The world is great."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

The is great.

In [27]:
#30. Check if a string is a valid email address.

In [33]:
import re

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "satyam@email.com"
email2 = "satyam@@-email"
email3 = "satyam$8-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
result3 = is_valid_email(email3)
print(result1)
print(result2)
print(result3)

True
False
False

In [29]:
#31. Extract the username from an email address string.

In [36]:
def extract_username(email):
    username = email.split('@')[0]
    return username

# Example email address
email = "Satyam@email.com"
result = extract_username(email)
print(result)

Satyam

In [34]:
#32. Extract the domain name from an email address string.

In [37]:
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "satyam@email.com"
result = extract_domain(email)
print(result)

email.com

In [39]:
#33. Replace multiple spaces in a string with a single space.

In [46]:
def multiple_spaces(tring):
    cleaned_string = ' '.join(tring.split())
    return cleaned_string

tring = "Hi    ,   How   are   you?"
result = multiple_spaces(tring)
print(result)

Hi , How are you?

In [47]:
#34. Check if a string is a valid URL.

In [48]:
import re

def is_valid_url(url):
    pattern = r'^(http|https):\/\/([\w.-]+)(\.[\w.-]+)+([\/\w\.-]*)*\/?$'
    return bool(re.match(pattern, url))

# Usage
url1 = 'https://www.slingacademy.com/cat/sample-data'
url2 = "https://api.slingacademy.com/v1/sample-data/"
url3 = "abcxyz"

print(is_valid_url(url1)) # True
print(is_valid_url(url2)) # True
print(is_valid_url(url3)) # False

True
True
False

In [49]:
#35. Extract the protocol (http or https) from a URL string.

In [1]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [2]:
#36. Find the frequency of each character in a string.

In [4]:
test_str = "iamgoodboy"

In [12]:
all_freq = {}
 
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
print("Count of all characters is :\n " + str(all_freq))

Count of all characters is :
 {'i': 1, 'a': 1, 'm': 1, 'g': 1, 'o': 3, 'd': 1, 'b': 1, 'y': 1}

In [13]:
#37. Remove all punctuation from a string.

In [14]:
import string
 
test_str = 'i , am.. good boy?;'
 
test_str = test_str.translate(str.maketrans('', '', string.punctuation))
print(test_str)

i  am good boy

In [15]:
#38. Check if a string contains only digits.

In [20]:
ini_string1 = '1234556'
ini_string2 = 'ab123bc'

In [22]:
print("Initial Strings : ", ini_string1, ini_string2)
if ini_string1.isdigit():
    print("String1 contains all numbers")
else:
    print("String1 doesn't contains all numbers")
 
if ini_string2.isdigit():
    print("String2 contains all numbers")
else:
    print("String2 doesn't contains all numbers")

Initial Strings :  1234556 ab123bc
String1 contains all numbers
String2 doesn't contains all numbers

In [23]:
#39. Check if a string contains only alphabets.

In [12]:
ini_string1 = "ABCD"
ini_string2 = "ab123bc"

In [13]:
print("Initial Strings : ", ini_string1, ini_string2)
if ini_string1.isalpha():
    print("String1 contains all numbers")
else:
    print("String1 doesn't contains all numbers")
if ini_string2.isalpha():
    print("String2 contains all numbers")
else:
    print("String2 doesn't contains all numbers")

Initial Strings :  ABCD ab123bc
String1 contains all numbers
String2 doesn't contains all numbers

In [14]:
#40. Convert a string to a list of characters.

In [18]:
input_str = "I am good boy"

In [19]:
char_list = list(input_str)

In [20]:
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: I am good boy
List of characters: ['I', ' ', 'a', 'm', ' ', 'g', 'o', 'o', 'd', ' ', 'b', 'o', 'y']

In [21]:
#41. Check if two strings are anagrams.

In [11]:
def anargrams(st1,st2):
    st1 = st1.replace(" ","").lower()
    st2 = st2.replace(" ","").lower()
    return sorted(st1) == sorted(st2)

In [12]:
st1 = "lis ten"
st2 = "sile nt"
st3 = "hel lo"
st4 = "worl d"

result1 = anargrams(st1, st2)
result2 = anargrams(st3, st4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [13]:
#42. Encode a string using a Caesar cipher.

In [8]:
def caesar_cipher(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char

        encoded_text += encoded_char
        
    return encoded_text

In [9]:
text = "Hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [10]:
#43. Decode a Caesar cipher encoded string.

In [11]:
def caesar_cipher_decoder(text, shift):
    
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char

        decoded_text += decoded_char
    return decoded_text

In [12]:
text = "lopp, zruog!"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)

print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [13]:
#44. Find the most frequent word in a string.

In [14]:
from statistics import mode
 
test_list = ["very good", "very bad", "bad very bad bad"]
 
print("The original list is : " + str(test_list))
 
temp = [wrd for sub in test_list for wrd in sub.split()]
res = mode(temp)
 
print("Word with maximum frequency : " + str(res))

The original list is : ['very good', 'very bad', 'bad very bad bad']
Word with maximum frequency : bad

In [15]:
#45. Find all unique words in a string.

In [3]:
import re
def unique_words(input_string):
    
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = set(clean_string.split())

    return words

In [4]:

input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'world', 'hello', 'there', 'hows', 'the'}

In [10]:
#46. Count the number of syllables in a string.

In [3]:
def syllables(word):
    newword = word
    countsyllabus = newword.split('-')
    return len(countsyllabus)
print(syllables("he-llo-h"))

3

In [ ]:
#47. Check if a string contains any special characters.

In [3]:
import re
def special(inputstr):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(inputstr)
    return bool(match)

In [4]:
string1 = "Hii, world!"
string2 = "i am good bot"
string3 = "Special@Character"

result1 = special(string1)
result2 = special(string2)
result3 = special(string3)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hii, world!' contains special characters: True
'i am good bot' contains special characters: False
'Special@Character' contains special characters: True

In [5]:
#48. Remove the nth word from a string.

In [ ]:
def remove(inputstr, n):
    word = inputstr.split()
    if n >=1 and n <=len(word):
        removeword = word.pop(n-1)
        modstr = ' '.join(word)
        
        return modstr, removeword
    else:
        return None, None

In [5]:
    
inputstr1 = "i am good boy."
nth = 4
modstr1, removeword = remove(inputstr1, nth)
print("Original string:", inputstr1)
if modstr1 is not None:
    print("Modified string:", modstr1)
    print("Removed word:", removeword)
else:
    print("Invalid n value.")

Original string: i am good boy.
Modified string: i am good
Removed word: boy.

In [6]:
# 49. Insert a word at the nth position in a string.

In [7]:
test_string = 'iamboy'
add_string = "good"
 
print("The original string : " + test_string)
 
print("The add string : " + add_string)
 
N = 4

res = test_string[ : N] +  add_string + test_string[N : ]

print("The string after performing addition : " + str(res))

The original string : iamboy
The add string : good
The string after performing addition : iambgoodoy

In [8]:
#50. Convert a CSV string to a list of lists.

In [3]:
def csvstring(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')
        result.append(fields)

    return result

csv_data = "Name, Age, Country\nSatyam, 24, India\nMaya, 10, UK\nBen, 20, iceland"
list_of_lists = csvstring(csv_data)
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['Satyam', ' 24', ' India']
['Maya', ' 10', ' UK']
['Ben', ' 20', ' iceland']

In [1]:
#List based practice problem :

In [2]:
#1. Create a list with integers from 1 to 10.

In [3]:
integer = [i for i in range(1, 11)]
print(integer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#2. Find the length of a list without using the `len()` function.

In [15]:
testlist = [1, 4, 5, 7, 8]
count = 0
for i in testlist:
    count = count + 1

In [16]:
print("Length of list without using the : " + str(count))

Length of list without using the : 5

In [17]:
#3. Append an element to the end of a list.

In [4]:
mylist = [10, 20, 30]
new = 40
mylist.append(new)
print("Updated list:", mylist)

Updated list: [10, 20, 30, 40]

In [5]:
#4. Insert an element at a specific index in a list.

In [6]:
mylist = [10, 20, 30, 40, 50]
n = 45
index = 4
mylist.insert(index, n)
print("Updated list:", mylist)

Updated list: [10, 20, 30, 40, 45, 50]

In [7]:
#5. Remove an element from a list by its value.

In [9]:
mylist = [10, 20, 30, 40, 50]
remove = 50
mylist.remove(remove)
print("Updated list:", mylist)

Updated list: [10, 20, 30, 40]

In [10]:
#6. Remove an element from a list by its index.

In [2]:
mylist = [10, 20, 30, 40, 50]
remove = 4
removed_element = mylist.pop(remove)
print("Updated list:", mylist)
print("Removed element:", removed_element)

Updated list: [10, 20, 30, 40]
Removed element: 50

In [3]:
#7. Check if an element exists in a list.

In [6]:
mylist = [10, 20, 30, 40, 50]
element = 40
if element in mylist:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

40 exists in the list.

In [7]:
#8. Find the index of the first occurrence of an element in a list.

In [8]:
mylist = [10, 20, 30, 40, 50, 30]
element = 30
index = my_list.index(element)
print(f"The index of {element} is {index}")

The index of 30 is 2

In [1]:
#9. Count the occurrences of an element in a list.

In [4]:
mylist = [10, 20, 40, 40, 50, 60, 40]
element = 40
count = mylist.count(element)
print(f"The element {element} occurs {count} times in the list.")

The element 40 occurs 3 times in the list.

In [5]:
#10. Reverse the order of elements in a list.

In [1]:
mylist = [10, 20, 30, 40, 50]

mylist.reverse()

In [4]:
print("Reversed list:", mylist)

Reversed list: [50, 40, 30, 20, 10]

In [5]:
#11. Sort a list in ascending order.

In [6]:
mylist = [50, 10, 30, 40, 20]

mylist.sort()

print("Sorted list in ascending order:", mylist)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [7]:
#12. Sort a list in descending order.

In [8]:
mylist = [50, 10, 30, 40, 20]

mylist.sort(reverse=True)

print("Sorted list in descending order:", mylist)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [9]:
#13. Create a list of even numbers from 1 to 20.

In [11]:
even = [i for i in range(2, 21, 2)]

print("List of even numbers:", even)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
#14. Create a list of odd numbers from 1 to 20.

In [13]:
odd = [i for i in range(1, 21, 2)]

print("List of odd numbers:", odd)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
#15. Find the sum of all elements in a list.

In [15]:
mylist = [10, 20, 30, 40, 50]

total = sum(mylist)

print("Sum of elements:", total)

Sum of elements: 150

In [16]:
#16. Find the maximum value in a list.

In [19]:
mylist = [50, 60, 30, 70, 50]

maxvalue = max(mylist)

print("Maximum value:", maxvalue)

Maximum value: 70

In [20]:
#17. Find the minimum value in a list.

In [21]:
mylist = [50, 60, 30, 70, 50]

value = min(mylist)

print("Minimum value:", value)

Minimum value: 30

In [22]:
#18. Create a list of squares of numbers from 1 to 10.

In [23]:
squares = [i ** 2 for i in range(1, 11)]

print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#19. Create a list of random numbers.

In [26]:
import random

n = [random.randint(1, 100) for _ in range(10)]

print("List of random integers:", n)

List of random integers: [29, 30, 69, 84, 88, 9, 96, 69, 16, 6]

In [30]:
#20. Remove duplicates from a list.

In [31]:
mylist = [50, 60, 30, 70, 50]

unique = list(set(mylist))

print("List without duplicates:", unique)

List without duplicates: [70, 50, 60, 30]

In [32]:
#21. Find the common elements between two lists.

In [45]:
list1 = [10, 20, 30, 40, 50]
list2 = [50, 20, 30, 70, 50]

elements = list(set(list1).intersection(list2))

print("Difference between lists:", elements)

Difference between lists: [50, 20, 30]

In [46]:
#22. Find the difference between two lists.

In [47]:
list1 = [10, 20, 30, 40, 50]
list2 = [50, 20, 30, 70, 50]

difference = list(set(list1).difference(list2))

print("Difference between lists:", difference)

Difference between lists: [40, 10]

In [48]:
#23. Merge two lists.

In [49]:
list1 = [10, 20, 30]
list2 = [70, 80, 90]

difference = list1 + list2

print("Merged list:", difference)

Merged list: [10, 20, 30, 70, 80, 90]

In [50]:
#24. Multiply all elements in a list by 2.

In [52]:
mylist = [10, 20, 30, 40, 50]

multiplied = [i * 2 for i in mylist]

print("Multiplied list:", multiplied)

Multiplied list: [20, 40, 60, 80, 100]

In [53]:
#25. Filter out all even numbers from a list.

In [59]:
mylist = [10, 20, 30, 40, 50, 77 , 44]
res = []

for n in mylist:
   if n % 2 == 0:
      res.append(n)
print(res)

[]

In [62]:
#26. Convert a list of strings to a list of integers.

In [65]:
stringlist = ["10", "20", "30", "40", "50"]

integerlist = [int(x) for x in stringlist]

print("List of integers:", integerlist)

List of integers: [10, 20, 30, 40, 50]

In [66]:
#27. Convert a list of integers to a list of strings.

In [67]:
integer_list = [10, 20, 30, 40, 50]

string_list = [str(x) for x in integer_list]

print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [68]:
#28. Flatten a nested list.

In [70]:
def flat(lis):
    flatList = []
    for element in lis:
        if type(element) is list:
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList
 
     
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print('List', lis)
print('Flat List', flat(lis))

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [71]:
#29. Create a list of the first 10 Fibonacci numbers.

In [2]:
def generate_fibonacci(n):
    fibonaccilist = [0, 1] 
    for i in range(2, n):
        next_fibonacci = fibonaccilist[i - 1] + fibonaccilist[i - 2]
        fibonaccilist.append(next_fibonacci)

    return fibonaccilist

fibonacci_numbers = generate_fibonacci(10)

print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [8]:
#30. Check if a list is sorted.

In [9]:
def ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [10, 20, 30, 40, 50]
ascending_list1 = [80, 20, 90, 40, 50]

if ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")
if ascending(ascending_list1):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.
The list is not sorted in ascending order.

In [10]:
#31. Rotate a list to the left by `n` positions.

In [14]:
def rotate_left(lst, n):
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_left(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [15]:
#32. Rotate a list to the right by `n` positions.

In [16]:
def rotate_right(lst, n):
    n = n % len(lst) 
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_right(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [17]:
#33. Create a list of prime numbers up to 50.

In [20]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [22]:
#34. Split a list into chunks of size `n`.

In [26]:
my_list = ['good', 'for', 'bad', 'like', 
           'men','bad', 'gud', 'life', 
               'questions','words'] 

def divide_chunks(l, n): 
      
    for i in range(0, len(l), n):  
        yield l[i:i + n]    
n = 4
  
x = list(divide_chunks(my_list, n)) 
print (x)

[['good', 'for', 'bad', 'like'], ['men', 'bad', 'gud', 'life'], ['questions', 'words']]

In [27]:
#35. Find the second largest number in a list.

In [28]:
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [1]:
#36. Replace every element in a list with its square.

In [4]:
mylist = [3, 6, 9, 12, 15]

squared = [x ** 2 for x in my_list]

print("Squared list:", squared)

Squared list: [4, 16, 36, 64, 100]

In [6]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [3]:
mylist = ['Raj', 'shyam', 'arjun', 'monika', 'satyam']

mydict = {element: index for index, element in enumerate(mylist)}

print("Converted dictionary:", mydict)

Converted dictionary: {'Raj': 0, 'shyam': 1, 'arjun': 2, 'monika': 3, 'satyam': 4}

In [4]:
#38. Shuffle the elements of a list randomly.

In [5]:
import random

mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(mylist)

print("Shuffled list:", mylist)

Shuffled list: [9, 2, 5, 6, 1, 4, 10, 7, 3, 8]

In [6]:
#39. Create a list of the first 10 factorial numbers.

In [9]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
n = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", n)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [10]:
#40Check if two lists have at least one element in common.

In [13]:
def common(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]

if common(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")
if common(a, b):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.
The lists do not have any common elements.

In [12]:
#41. Remove all elements from a list.

In [15]:
my = [1, 2, 3, 4, 5]

mylist.clear()

print("Empty list:", mylist)

Empty list: []

In [16]:
#42Replace negative numbers in a list with 0.

In [1]:
mylist = [10, -15, 120, -1, 30, -25,56 , 90 ]

for i in range(len(mylist)):
    if mylist[i] < 0:
        mylist[i] = 0

print("List after replacing negative numbers with 0:", mylist)

List after replacing negative numbers with 0: [10, 0, 120, 0, 30, 0, 56, 90]

In [2]:
#43Convert a string into a list of words.

In [4]:
my_string = "i am good boy"

word = my_string.split()

print("List of words:", word)

List of words: ['i', 'am', 'good', 'boy']

In [5]:
#44 Convert a list of words into a string

In [6]:
word = ["i", "am", "good", "boy."]

my_string = " ".join(word)

print("Converted string:", my_string)

Converted string: i am good boy.

In [7]:
#45Create a list of the first `n` powers of 2.

In [8]:
n = 5

power = [2 ** i for i in range(n)]

print("List of the first", n, "powers of 2:", power)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [9]:
#46. Find the longest string in a list of strings.

In [12]:
string_list = ['Raj', 'shyam', 'arjun', 'monika', 'satyams']
longest = ""
for s in string_list:
    if len(s) > len(longest):
        longest = s

# Print the longest string
print("Longest string:", longest)

Longest string: satyams

In [1]:
#47. Find the shortest string in a list of strings.

In [2]:
string_list = ['Raj', 'shyam', 'arjun', 'monika', 'satyams']
shortest = string_list[0] 
for s in string_list:
    if len(s) < len(shortest):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest)

Shortest string: Raj

In [3]:
#48. Create a list of the first `n` triangular numbers.

In [5]:
def triangular(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 10

triangularlist = triangular(n)

print("List of the first", n, "triangular numbers:", triangularlist)

List of the first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [6]:
#49. Check if a list contains another list as a subsequence.

In [1]:
def is_sublist(A, B):
    if not A:
        return True
    if not B:
        return False
    if A[0] == B[0]:
        return is_sublist(A[1:], B[1:])
    return is_sublist(A, B[1:])
 
A = [1, 2]
B = [1, 2, 3, 1, 1, 2, 2]
 
res = is_sublist(A, B)
 
print(res)

True

In [2]:
#50. Swap two elements in a list by their indices.

In [4]:
mylist = [6, 7, 8, 9, 0]

index1 = 3
index2 = 4

temp = mylist[index1]
mylist[index1] = mylist[index2]
mylist[index2] = temp

print("List after swapping elements:", mylist)

List after swapping elements: [6, 7, 8, 0, 9]